<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<main class="mt-6 pt-6">
  <!-- image -->
  <img class="d-block w-100" src="../assets/2.jpg" alt="First slide">

  <!-- card -->
  <div class="bg-card wrapper">
    <mat-card class="example-card cardd">
      <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>see more</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card  cardd">
      <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>see more</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card  cardd">
      <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>see more</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card  cardd">
      <img mat-card-image src="../assets/1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>see more</button>
      </mat-card-actions>
    </mat-card>

  </div>


  <div class="container">

    <section class="mt-4">

      <!-- RECOMMENDED -->
      <div class="advice">
        <h3>RECOMMENDED</h3>
        <mat-tab-group mat-align-tabs="start">

          <mat-tab label="Action">
            <img mat-card-image src="../assets/img/1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/2.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/3.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/4.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/5.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/6.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Adventure">
            <img mat-card-image src="../assets/img/7.jpeg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/8.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/9.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/10.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/11.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/12.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Casual">
            <img mat-card-image src="../assets/img/13.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/14.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/15.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/16.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/17.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/18.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>
          <!--
          <mat-tab label="Indie">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab> -->

          <!-- <mat-tab label="Multiplayer">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="RPG">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Simulation">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Sports">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Srategy">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/ac1.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab> -->

        </mat-tab-group>
      </div>

      <!-- <mat-list>
        <mat-divider></mat-divider>
        <div mat-subheader style="font-size: 18.72px; color: white;">TOPIC</div>
        <mat-list-item *ngFor="let postdata of postdatas " class="advice">
          <mat-icon mat-list-icon>games</mat-icon>
          <div mat-line>{{ postdata.topic }}</div>
          <div mat-line>{{ postdata.description }}</div>
        </mat-list-item>
      </mat-list> -->

      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card mb-4 wow fadeIn">
            <div class="card-header font-weight-bold">
              <span>หัวข้อโพสต์</span>
              <span class="pull-right">

              </span>
            </div>

            <div style="padding-left: 20%; padding-right: 20%; padding-bottom: 10%">
              <table>
                <tr>

                  <th>หัวข้อ</th>
                  <th>รายละเอียด</th>
                  <th>ประเภทเกมส์</th>
                  <th colspan="2"></th>
                </tr>

                <tr *ngFor="let postdata of postdatas ">
                  <td>{{ postdata.topic }}</td>
                  <td>
                    <p class="minimiz">{{ postdata.description }}</p>
                  </td>
                  <td>{{ postdata.category }}</td>

                  <!-- <td>{{ postdata.sid }}</td>
      <td>{{ postdata.first }}</td>
      <td>{{ postdata.last }}</td> -->
                  <td>
                    <button [routerLink]="['/posts',postdata._id]" mat-raised-button style="background-color: #ffa000">
                      ดูโพสต์
                    </button>
                  </td>

                </tr>
              </table>
            </div>

          </div>

        </div>
        <div class="col-md-4 mb-4">
          <div class="card blue-gradient mb-4 wow fadeIn">
            <div class="card-body text-black text-center">
              <div class="card mb-4 text-center wow fadeIn">
                <div class="card-header">tag</div>


              </div>
              <div class="card mb-4 text-center wow fadeIn">
                <div class="card-header">ว่างๆ</div>


                <div class="card-body">
                  <p>ใส่ข้อมูล</p>
                </div>
              </div>
              <div class="card mb-4 wow fadeIn">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <ul class="list-unstyled">
                    <li class="media">
                      <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                        alt="Generic placeholder image">
                      <div class="media-body">
                        <a href="">
                          <h5 class="mt-0 mb-1 font-weight-bold">ใส่ข้อมูล</h5>
                        </a>
                        title
                      </div>
                    </li>
                    <hr>
                    <li class="media my-4">
                      <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg"
                        alt="An image">
                      <div class="media-body">
                        <a href="">
                          <h5 class="mt-0 mb-1 font-weight-bold">asdas</h5>
                        </a>
                        aasd
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>


<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">
  <div class="footer-copyright py-3">

  </div>
</footer>
